.sidebar {
  position: absolute;
  left: 0;
  font-size: 16px;
  font-weight: normal;
  background-color: #2777a9;
  width: 200px;
  top: 70px;
  height: calc(100vh - 90px);
  padding: 20px 0 0 10px;
}
