.button {
  width: 60px;
  height: 60px;
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f2ebe9;
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  @media (max-width: 1000px) {
    width: calc((100vw - 40px) / 10);
    height: calc((100vw - 40px) / 6);
  }
  &:active {
    filter: brightness(85%);
  }
}

.backspace {
  width: 200px;
}
