@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.header {
  height: 70px;
  width: 100vw;
  background-color: #2777a9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  > svg {
    cursor: pointer;
    position: absolute;
    left: 0;
    margin-left: 10px;
    font-size: 30px;
  }
  .logo {
    font-family: 'Caveat', cursive;
    font-size: 45px;
    font-weight: bold;
    @media (max-width: 800px) {
      font-size: 35px;
    }
  }
}
