.app {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  img {
    height: auto;
    width: 600px;
    @media (max-width: 800px) {
      width: 100%;
      height: auto;
    }
  }
}
