.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  img {
    height: 360px;
    width: 636px;
    object-fit: cover;
    margin-top: 75px;
    @media (max-width: 800px) {
      width: 100vw;
      height: calc(100vw / 1.77);
    }
  }
}
