.letter-tiles {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 0;
  .letter-tile {
    background-color: #f2ebe9;
    height: 100px;
    width: 100px;
    border: solid 2px black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    letter-spacing: 2px;
  }
}
